#home{
    background-image: url("../../imgs/imgs.png");
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.hero{
    text-align: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 300px;
}

.arc{
    margin-top: 50px;
    color: white;
}