.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}



@media (max-width:1300px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr ;
        
       
    }
}





@media (max-width:1075px) {
    .grid {
        grid-template-columns: 1fr 1fr ;
      
    }
}

@media (max-width:703px) {
    .grid{
            display: flex;
            flex-direction: column;
            align-items: center;
    }

}